*{
    padding: 0px;
    margin: 0px;
}

.header{
    box-shadow: -2px 12px 10px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 12px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 12px 10px -4px rgba(0,0,0,0.75);
    height: 10vh;
    width: 98.9vw;
    margin: 0%;
}

.header-content{
    padding-top: 20px;
    padding-left: 15vw;
    display: flex;
}

.header-content img{
    
    height: 40px;
    width: 40px;
}

.divider {
    margin: 0px 15px 0px 15px;
    background-color: grey;
    height: 40px;
    width: 2px;
}

.header-content p{
    width: 2px;
    height: 50px;
}

.header-content .icons{
    padding-left: 15vw;
}

.header-content .icons .bi{
    margin: 30px;
    
}

.header-content .icons .bi:hover{
    background-color: #faf9f7;
}

.search{
    padding-left: 85px;
}

.header-content .icons-2{
    margin-right: 0px;
}

.header-content .icons-2 .bi{
    margin-left: 20px;
}

.profile{
    margin-left: 20px;
    display: flex;
    width: 10vw;
}

.profile p{
    padding-top: 6px;
    font-size: 15px;
    flex: 1;
}

.profile img{
    flex: 2;
    padding-left: 65px;
}