*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: sans-serif;
}

.container{
    border: 2px solid aqua;
    width: 100%;
    height: 1000px;
    display: flex;
}

.left-section{
    border: 2px solid blue;
    width: 4%;
    height: 100%;
}

.right-section{
    border: 2px solid blueviolet;
    width: 97%;
    height: 100%;
}

.top-section{
    border: 2px solid red;
    height: 5%;
    display: flex;
}

.bottom-section{
    border: 2px solid purple;
    height: 95%;
}

.bottom-section-top{
    border: 2px solid pink;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#profile{
    display: flex;
    background: grey;
    line-height: 100px;
}

.bottom-section-bottom{
    border: 2px solid brown;
    height: 90%;
    display: flex;
}

.left-content{
    border: 2px solid grey;
    width: 25%;
    height: 50%;
}

.right-content{
    border: 2px solid yellow;
    width: 75%;
    height: 100%;
}

.logo{
    display: flex;
}

.logo img{
    width: 50px;
}

.icons{
    background-color: grey;
}