.nav{
    flex: 0.75;
    padding: 15px;
    text-decoration: none;
}

.nav hr{
    width: 12.5vw;
}

.nav ul li{
    
    margin: 5px;
    padding: 10px;
    list-style: none;
    padding-left: 15px;
    width: 13vw;
}

.nav ul li:hover{
    background-color: #2d644a;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.nav button{
    background-color: #2d644a;
    border: black 5px 5px;
    border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: inline-block;
    width: 13.5vw;
    height: 35px;
}